!.gitignore
 
node_modules/*

bower_components/*
!bower_components/semantic-ui/
bower_components/semantic-ui/*
!bower_components/semantic-ui/src/
!bower_components/semantic-ui/dist/
 
public/audio/
public/video/
public/dist/
 
*.csv
*.dat
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
