doctype html

html

  block vars
  
  head
  
    title= title
    // link(rel='stylesheet', href='/dist/lib.min.css')
    link(rel='stylesheet', href='/dist/app.min.css')
    
  body
    block content
