extends layout

block vars
  - title = "Hessam's App ! - {{title}}";
  - ngApp = 'OfflineApp';
  - ngController = 'MasterController';



block head
  


block body

  div
    p(ng-bind="title")
    ui-view

  


block views

  script(type="text/ng-template" id="/home_template")
    
    p ID:
    input(ng-model="dataOut.id")
    p Data:
    input(ng-model="dataOut.data")
    p
    button.ui.primary.button(ng-click="setIt()") Set It
    button.ui.secondary.button(ng-click="getIt()") Get it
    button.ui.basic.button(ng-click="delAll()") Remove all
    p(ng-if="JSON.stringify(error, null, 4)" ng-bind="error" style="{color: red}")
    pre(ng-bind="dataIn")
    
